@{
    ViewData["Title"] = "Главная";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Добро пожаловать в каталог отелей</h1>
    <p class="lead">Вы можете просмотреть список отелей, добавить новый или удалить существующий.</p>

    <a asp-controller="Hotel" asp-action="Index" class="btn btn-primary btn-lg mt-3">Список отелей</a>
</div>

